.title_podesContratarnos {
    color: blueviolet;

&_NuestrosShows {
color: blueviolet;

&_Formulario {
color: blueviolet;


&NombreDeShow {
color: purple;

&Caracteristicas {
color: purple;

&Recomendado {
color: purple;

&RobotDeLed {
color: blueviolet;
font-family: 'Hind', sans-serif;

&Batucada {
color: blueviolet;
font-family: 'Hind', sans-serif;

&RedCarpet {
color: blueviolet;
font-family: 'Hind', sans-serif;

&showMixer {
color: blueviolet;
font-family: 'Hind', sans-serif;
}
}
}
}
}
}
}
}
}
}
